@import "../base/variables";
@import "../base/extends";


.encabezado-h1{
    font-family:$font ;
    text-align: center;
    font-weight:bold ;
    justify-content: center;
    padding: 5% 10px 5px 10px;
    font-style: italic;
}

.section-acordion{
    display: flex;
    justify-content: center;
    div{padding: 0 5%;
        h2{
            button{
                font-family: $font;
                font-weight: bold;
                color:#85BD37 ;
                background-color: #F2F2F2;
                @extend %links;
                &:hover{
                    color: #EA5843;
                }
        
            }
        }
    }
    div{background-color: #F2F2F2;
        margin: 10px;
        
    }
    
    
}