@import "../base/variables";

section {
    display: flex;
    flex-direction: row;
    align-items: center;

    div {
        img {
            width: 100%;


        }

    }

    div {

        p {
            font-family: $font;
            text-align: left;
            
           

            &:hover {
                transform: scale(1.1);
                transition: all ease-out 1s;
            }


        }
    }


}