@import "../base/variables";

.section-nosotros{ display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    @media only screen and (max-width:425px){
       flex-direction: column;
       img{
        width: 80%;
    }
       
    }
    @media only screen and (min-width:321px) and (max-width:991px) {
        flex-direction: column;
        img{
            width: 80%;
        }
    }

    .imagen-nosotros {
        img {
            width: 100%;


        }

    }

    div {

        p { 

            margin: 0 5%;
            font-family: $font;
            text-align: center;
           
           

            &:hover {
                transform: scale(1.1);
                transition: all ease-out 1s;
            }


        }
    }
    

}