@import "../base/variables";

section {

    div {
        img {
            width: 100%;


        }

    }

    div {

        p { 
            
            font-family: $font;
            text-align: center;
            @media only screen and (max-width:470px) { 
                padding: 0 20px;
              
            }
            
           

            &:hover {
                transform: scale(1.1);
                transition: all ease-out 1s;
            }


        }
    }


}