@import "../base/variables";
@import "../base/extends";

.section-juguetes {
    background-color: #FEDA8F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .tarjetas {
        &:hover {
            transition: all 1s;
            transform: scale(1.1);
           

        }
        div {
            font-family: $font;
            text-align: center;
            &:hover{
                background-color: #ffe4a9d7;
            }

            img {
                border-bottom: 5px;
                width: auto;
                height: auto;
            }

            
        }

    }
}