@import "../base/variables";
@import "../base/extends";

.encabezado-contenedor{
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.contenedor-tienda{

    display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     @media only screen and (max-width:470px) { 
        justify-content: center;
        
     }

 
.section-tienda{
    box-sizing: border-box;
    padding: 0px;
    font-family: $font;
    text-decoration: none;
   

.contenedor {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F2F2F2;
    border-radius: 1rem;

    .tarjeta {
        width: 320px;
        height: 380px;
        background-color: #85bd3771;
        border-radius: 1rem;
        padding: 4rem 2rem 0;
        

        .img-tarjeta {
            position: absolute;
            width: 260px;
            filter: drop-shadow(5px 10px 15px rgba(8,9,13,.2));
            transform: translate(.2rem, -8.5rem);
        }

        .tarjeta-datos {
            transform: translateY(4.8rem);
            .tarjeta-titulo {
                font-size: 1.5rem;
                color: black;
                margin-bottom: 5rem;
            }

            .precio {
                display: inline-block;
                font-size: 1.25rem;
                font-weight: 500;
                margin-top: 1rem;
                margin-bottom:1rem;
            }

            .descripcion {
                font-size: 1rem;
            }

            .pago {
                display: block;
                width: max-content;
                padding: 1.125rem 2rem;
                background-color: #EA5843;
                
                border-radius: .5rem;
                font-weight: 600;
                @extend %links;
                &:hover{
                    color: #F2F2F2;
                }
            }
        }
    }

}
}
}